/* Section Contact */
#contact {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    text-align: center;
}

#contact h2 {
    color: #333;
}

#contact form {
    max-width: 500px;
    margin: 20px auto;
}

#contact form div {
    margin-bottom: 15px;
}

#contact label {
    display: block;
    margin-bottom: 5px;
    color: #444;
}

#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

#contact input[type="submit"] {
    background-color: #333;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#contact input[type="submit"]:hover {
    background-color: #444;
}