#projects article {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
}

.project-content {
    flex: 1;
    padding-right: 20px; 
}

.project-image {
    flex-basis: 150px;
}

.project-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

#projects h3 {
    font-size: larger;
}

#projects p {
    font-size: medium;
}

#projects a {
    text-decoration: none;
    font-weight: bold;
}