/* Section Compétences */
#skills {
    background-color: #f7f7f7;
    padding: 40px; 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center; 
}

#skills h2 {
    color: #333;
    margin-bottom: 30px; 
    font-size: 2em; 
}

.skills-category {
    margin-bottom: 30px;
}

.skills-category h3 {
    color: #444;
    margin-bottom: 15px; 
    font-size: 1.5em;
}

.skills-category ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 10px; 
    flex-wrap: wrap; /* Ajouté pour permettre l'emballage sur plusieurs lignes */
}

.skills-category ul li {
    background-color: #333;
    color: #fff;
    padding: 8px 20px;
    border-radius: 10px; 
    font-size: 1em;
    transition: background-color 0.3s; 
    cursor: pointer; /* Ajouté pour assurer que le curseur change au survol */
    flex: 1 1 calc(50% - 20px); /* Ajouté pour s'assurer que les éléments prennent 50% de la largeur avec une marge */
    margin: 5px; /* Ajouté pour espacer les éléments */
}

.skills-category ul li:hover {
    background-color: #555;
    border-radius: 5px;
    transform: scale(1.1);
    font-size: medium;
}

/* Média queries pour tablette */
@media (max-width: 768px) {
    .skills-category ul li {
        flex: 1 1 calc(30% - 20px); /* 2 éléments par ligne */
    }
}

/* Média queries pour mobile */
@media (max-width: 480px) {
    .skills-category ul li {
        flex: 1 1 calc(50% - 20px); /* 2 éléments par ligne */
    }
}
